<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-GLhlTQ8iRABdZLl6O3oVMWSktQOp6b7In1Zl3/Jr59b6EGGoI1aFkw7cmDA6j6gD" crossorigin="anonymous">
    <title>Health Insurance</title>
</head>
<body>
  <section class="vh-20" style="background-image: url('https://images2.alphacoders.com/966/thumb-1920-96622.jpg');">
    <div class="container h-100">
      <div class="row d-flex justify-content-center align-items-center h-100">
        <div class="col-lg-12 col-xl-11">
          <div class="card text-black" style="border-radius: 25px;">
            <div class="card-body p-md-5">
              <div class="row justify-content-center">
                
    <nav class="navbar navbar-expand-lg navbar-dark bg-primary">
        <div class="container-fluid">
          
          <a class="navbar-brand" href="" name="get_insurance">login/New isurance</a>
          <button
            class="navbar-toggler"
            type="button"
            data-mdb-toggle="collapse"
            data-mdb-target="#navbarNav"
            aria-controls="navbarNav"
            aria-expanded="false"
            aria-label="Toggle navigation"
          >
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#">   </a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="C:\Users\saron\OneDrive\Documents\snows insurance\templates\register.html" name="">New Insurance</a>
        </li>
        </li>
            <i class="fas fa-bars"></i>
          </button>
          <div class="collapse navbar-collapse" id="navbarNav">
            <ul class="navbar-nav">
              <li class="nav-item">
                <a class="nav-link active" aria-current="page" name="vehicle_insurance">Vehicle insurance</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" name="life_insurance">Life Insurance</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" name="home_insurance">Home Insurance</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" name="health_insurance">Health Insurance</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" name="property_insurance">Proprety Insurance</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" name="travel_insurance" >Travel Insurance</a>
              </li>
              

            </ul>
          </div>
        </div>
      </nav>
    <h1>Health Insurance</h1>
    <p>Health insurance is an insurance product which covers medical and surgical expenses of an insured individual. It reimburses the expenses incurred due to illness or injury or pays the care provider of the insured individual directly.</p>
    <h2>Advantages of Health Insurance Policy</h2>
    <p>Rising costs of healthcare as well as the evident need for adequate healthcare today make health insurance policy a definite must. When it comes to critical illnesses, the strain that it can put on a family's wellbeing is undeniable, leaving people to turn to their life savings for aid.

        This, however, does not ascertain a concrete solution due to inflation, meaning savings are rarely sufficient to meet such healthcare expenses.
        
        In a typical average Indian household, the male head of the family is usually the only earning member with about 3-4 dependants. Oftentimes, if the primary breadwinner’s ability to work is compromised due to a major illness, the rest of the family remains in dire straits. It would not be possible for them to sustain their lifestyle, repay debts or even afford the high costs of treatment.</p>
    <h2>Disadvantages of Health Insurance Policy</h2>  
    <p>One of the main disadvantages of having health insurance is the cost. Health insurance policy can be very costly even for those that have a health insurance plan through their employers.

        Costs may be so high that many end up struggling to make payments. This can be quite challenging for those who have low incomes or are self-employed. Health care coverage for families may cause an added financial burden.</p>  
</body>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/js/bootstrap.bundle.min.js" integrity="sha384-w76AqPfDkMBDXo30jS1Sgez6pr3x5MlQ1ZAGC+nuZB+EYdgRZgiwxhTBTkF7CXvN" crossorigin="anonymous"></script>
</html>