<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-GLhlTQ8iRABdZLl6O3oVMWSktQOp6b7In1Zl3/Jr59b6EGGoI1aFkw7cmDA6j6gD" crossorigin="anonymous">
    <title>Welcome to Anchor Insurance</title>
</head>
<body>
  <section class="vh-20" style="background-image: url('https://images2.alphacoders.com/966/thumb-1920-96622.jpg');">
    <div class="container h-100">
      <div class="row d-flex justify-content-center align-items-center h-100">
        <div class="col-lg-12 col-xl-11">
          <div class="card text-black" style="border-radius: 25px;">
            <div class="card-body p-md-5">
              <div class="row justify-content-center">
                
  
    <h1>Welcome to Anchor Insurance</h1>
    <br>
    
    <nav class="navbar navbar-expand-lg navbar-dark bg-primary">
        <div class="container-fluid">
          
          <a class="navbar-brand" href="register.html" name="get_insurance">login/New isurance</a>
          <button
            class="navbar-toggler"
            type="button"
            data-mdb-toggle="collapse"
            data-mdb-target="#navbarNav"
            aria-controls="navbarNav"
            aria-expanded="false"
            aria-label="Toggle navigation"
          >
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#">   </a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="register.html" name="">New Insurance</a>
        </li>
        </li>
            <i class="fas fa-bars"></i>
          </button>
          <div class="collapse navbar-collapse" id="navbarNav">
            <ul class="navbar-nav">
              <li class="nav-item">
                <a class="nav-link active" aria-current="page" name="vehicle_insurance">Vehicle insurance</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="life_insurance.html">Life Insurance</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="home_insurance.html#">Home Insurance</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="health_insurance.html#">Health Insurance</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="property_insurance.html#">Proprety Insurance</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="travel_insurance.html#" >Travel Insurance</a>
              </li>
              

            </ul>
          </div>
        </div>
      </nav>
      <br>

/>
      <br>
      <h2>Advantages of Insurance</h2>
      <p>The insurance has become an integral part of business and human life. ‘The fear of loss’ has been a constraint on the growth of business and trade. An uncertain future of business and of individual has always been haunting him. Insurance has been helpful in solving many problems of business and private life.</p>
      <h3>1. Providing Security:</h3>
      <p>There is always a fear of sudden loss. There may be a fire in the factory, storm in the sea or loss of a life. In all these cases it becomes difficult to bear the loss. Insurance provides a cover against any sudden loss. In case of marine and fire insurance the loss suffered by the insured is fully compensated and he is restored to his earlier position.

        In the same way, if a bread-bringing member of the family dies prematurely, the family is provided with money to continue with its livelihood. So, insurance gives security to both individual and business-man. These days insurance covers various social welfare schemes also. There are schemes providing for unemployment, sickness, accident, health and old age insurances. These schemes are helpful for poor people and help in establishing social justice.</p>
        <h3>2. Spreading of Risk:</h3>
        <p>The basic principle of insurance is to spread risk among a large number of people. A large number of persons get insurance policies and pay premium to the insurer. Whenever a loss occurs, it is compensated out of funds of the insurer. The loss is spread among a large number of policy-holders.

            Insurance covers the loss of an individual but the social loss cannot be eliminated. If the property of a person is lost by fire, he will be compensated by the insurance company. The loss of goods will remain as a social loss. Insurance cannot eliminate loss but it can reduce the risk to the individual.</p>
         <h3>3. Source for Collecting Funds:</h3>   
         <p>In lieu of an insurance cover, the insured pays premium to the insurer. The premium is received regularly in installments. Large funds are collected by way of premium. These funds can be gainfully employed in industrial development of a country. Life insurance policies are purchased by persons from all walks of life. It helps in collecting savings from a large number of persons.

            In India, Life Insurance Corporation of India provides large funds to the industries for long-term investments. These funds are productively used in exploiting natural resources which accelerates industrial growth of a country. The employment opportunities are also increased by big investments made by insurance companies. So, insurance has become an important source of capital formation.</p>
            <h3>4. Encourage Savings:</h3>
            <p>Insurance does not only protect risks but it provides an investment channel too. Life insurance provides a mode of investment. The insurance develops a habit of saving money by paying premium. The amount of policy is paid to the insured or to his nominees. In case of fixed time policies, the insured gets a lump-sum amount after the maturity of the policy.</p>
            <h3>5. Encourage International Trade: </h3>
            <p>International trade involves many risks in transporting goods from one country to another. In the absence of insurance the traders will always be worried for the safe arrival of goods. The quantum of trade will be limited because of uncertainties and risk involved during transit. Insurance provides protection against all types of sea-risks. It has helped the development of international trade on a large scale.</p>

</body>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/js/bootstrap.bundle.min.js" integrity="sha384-w76AqPfDkMBDXo30jS1Sgez6pr3x5MlQ1ZAGC+nuZB+EYdgRZgiwxhTBTkF7CXvN" crossorigin="anonymous"></script>
</html>
</html>
