<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-GLhlTQ8iRABdZLl6O3oVMWSktQOp6b7In1Zl3/Jr59b6EGGoI1aFkw7cmDA6j6gD" crossorigin="anonymous">
    <title>Travel Insurance</title>
</head>
<body>
 
  <section class="vh-20" style="background-image: url('https://images2.alphacoders.com/966/thumb-1920-96622.jpg');">
    <div class="container h-100">
      <div class="row d-flex justify-content-center align-items-center h-100">
        <div class="col-lg-12 col-xl-11">
          <div class="card text-black" style="border-radius: 25px;">
            <div class="card-body p-md-5">
              <div class="row justify-content-center">
                <h1>Welcome To Anchor Insurance</h1>
    <nav class="navbar navbar-expand-lg navbar-dark bg-primary">
        <div class="container-fluid">
          
          
          <a class="navbar-brand" href="" name="get_insurance">login/New isurance</a>
          <button
            class="navbar-toggler"
            type="button"
            data-mdb-toggle="collapse"
            data-mdb-target="#navbarNav"
            aria-controls="navbarNav"
            aria-expanded="false"
            aria-label="Toggle navigation"
          >
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#">   </a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="C:\Users\saron\OneDrive\Documents\snows insurance\templates\register.html" name="">New Insurance</a>
        </li>
        </li>
            <i class="fas fa-bars"></i>
          </button>
          <div class="collapse navbar-collapse" id="navbarNav">
            <ul class="navbar-nav">
              <li class="nav-item">
                <a class="nav-link active" aria-current="page" name="vehicle_insurance">Vehicle insurance</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" name="life_insurance">Life Insurance</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" name="home_insurance">Home Insurance</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" name="health_insurance">Health Insurance</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" name="property_insurance">Proprety Insurance</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" name="travel_insurance" >Travel Insurance</a>
              </li>
              

            </ul>
          </div>
        </div>
      </nav>
    <h1>Travel Insurance</h1>
    <p>Travel insurance is coverage designed to protect against risks and financial losses that could happen while traveling. The risks range from minor inconveniences such as missed airline connections and delayed luggage all the way to more serious issues including injuries or major illness.</p>
    <h3>Advantages of Travel Insurance</h3>
    <p>Basically with a travel insurance policy​ in your pocket, when you are travelling abroad, even under the awry situation you tend to maintain the calm because you don’t need to worry about the finances to meet your losses.
        Therefore, when you are planning to travel abroad, it is important to consider the basic safety area of your own care-free vacation. The most simple protection alternatives of travel insurance include healthcare insurance coverage along with fast and effective transportation back to your country of origin. (You certainly don’t wish to spend money for an urgent situation helicopter trip!) Most of the insurance policies include protective cover against trip cancellation, missing checked-in luggage as well as other potential casualties.
        In case you are spending thousands on a luxury cruise that might be spoiled by sickness or traveling in foreign countries, healthcare travel cover is regarded a sensible expenditure. The majority of medical health insurance plans do not cover out of country medical expenses.</p>
    <h3>Disadvantages of Travel Insurance</h3>  
    <p>What exactly is not a part of travel insurance policy can be an area of concern for some individuals. There are a number of insurance providers who offer travel insurance products. 
        Tour agencies generally provide you with travel insurance policies, but a majority of people think it is advisable to research prices in advance to evaluate prices as well as insurance coverage. Indeed, these kinds of agreements could be lengthy, however, it’s crucial that you really know what is protected as well as things which are not. You may get a bit disappointed in the beginning while considering the “cons” of buying travel insurance. 
        Apart from the expense of travel insurance, the following technicalities are regarding several travelers</p>  
        <div>
          <button type="button" href="register.html" class="btn btn-primary btn-lg" >Get The Insurance</button>
        </div>

</body>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/js/bootstrap.bundle.min.js" integrity="sha384-w76AqPfDkMBDXo30jS1Sgez6pr3x5MlQ1ZAGC+nuZB+EYdgRZgiwxhTBTkF7CXvN" crossorigin="anonymous"></script>
</html>